@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

@import './variables.scss';

html {
    font-size: 14px;
}

body {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $color_lightGrey;
}

/*
make sure that anchor links are not hidden behind the header
https://css-tricks.com/hash-tag-links-padding/
*/
.anchor {
    margin-top: -90px;
    padding-top: 90px;
    z-index: -1;
    display: inline-block;
}

svg g {
    font-weight: 300;
}
