$color_ebonyGrey: #222b36;
$color_osloGrey: #7f858c;
$color_athensGrey: #dfe3e9;
$color_white: #ffffff;
$color_lightGrey: #f5f6fa;
$color_azureRadiance: #0291ff;

$navigation-bar-width: 272px;
$navigation-bar-padding: 24px;

$filter-panel-width: 304px;
$content-area-padding: 32px;

$page-header-height: 60px;
$card-padding: 24px;
