/**
 Input for mara.css

 Build with `sass --watch mara.scss:mara.css`
 */


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

$color-grey-1: #222B36;

$color-grey-2: #7F858C;

$color-grey-3: #DFE3E9;

$color-grey-4: #F4F6F8;

$color-blue: #0291FF;

$navigation-bar-width: 272px;

$navigation-bar-padding: 24px;

html {
  font-size: 14px;
}

body {
  position: relative;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
  cursor: pointer;
}

/* page header */
#mara-page-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  height: 60px;
  max-height: 60px;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

#mara-page-header > * {
  align-self: center;
  margin: 0px;
}

#mara-page-header > div.action-buttons, #mara-page-header > h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  #mara-page-header > img {
    display: none;
  }
}

#mara-page-header > img {
  height: 40px;
  margin-right: 10px;
}

#mara-page-header > h1 {
  font-size: 20px;
  font-weight: normal;
}

#mara-page-header > .action-buttons {
  flex-grow: 1;
  text-align: right;
  margin-left: 20px;
}

#mara-page-header > .action-buttons > a.btn {
  padding: 0px;
  margin-left: 20px;
}

#mara-page-header > .navigation-toggle-button {
  padding-right: 10px;
  text-decoration: none;
}

/*
make sure that anchor links are not hidden behind the header
https://css-tricks.com/hash-tag-links-padding/
*/
.anchor {
  margin-top: -90px;
  padding-top: 90px;
  z-index: -1;
  display: inline-block;
}

/* navigation */
#mara-navigation {
  padding-top: 20px;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 60px;
  bottom: 0;
  width: $navigation-bar-width;
  transition: width .3s;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  color: $color-grey-1;

  .mara-nav-entry {
    width: $navigation-bar-width - 2* $navigation-bar-padding;
  }

  .mara-nav-entry > a:hover {
    border-radius: 3px;
    background-color: rgba(2, 145, 255, 0.05);
  }

  .mara-nav-entry > a {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    align-items: baseline;
    display: flex;
    width: 100%;
    color: $color-grey-1;
    text-decoration: none;
    margin-left: $navigation-bar-padding;
    cursor: pointer;

    .mara-nav-entry-text {
      flex-grow: 1;
    }

    .mara-caret {
      padding-left: 8px;
      opacity: 1;
      transition: opacity 0.3s;
      transition-delay: 0.2s;
    }

  }

  .level-1:not(:first-child) > a {
    border-top: 1px solid $color-grey-3;
  }

  .mara-nav-entry.level-1 > a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;

    div.mara-nav-entry-icon {
      font-size: 16px;
      margin-right: 10px;
      text-align: center;
    }
  }

  .mara-nav-entry.level-2 > a {
    padding-left: 8px;
  }

  .mara-nav-entry.level-3 > a {
    padding-left: 20px;
  }

  .mara-nav-entry.level-4 > a {
    padding-left: 32px;
  }

  .mara-nav-entry.level-5 > a {
    padding-left: 44px;
  }

  .highlighted > a {
    color: $color-blue !important;
  }
}

body.navigation-collapsed > #mara-navigation {
  width: 0px;
}

body.navigation-collapsed > #mara-navigation div.mara-nav-entry .mara-caret {
  opacity: 0;
  transition: opacity 0s;
}

/*
* main area
*/

body > #mara-main {
  background-color: #e0e0e0;

  //position: absolute;
  margin-left: $navigation-bar-width;
  transition: margin-left .3s;
  top: 60px;
  //width: 100%;
  padding-top: 15px;
}

body.navigation-collapsed > #mara-main, body.navigation-collapsed > #alerts {
  left: 0px;
  transition: margin-left .3s;
}

body.touch > #alerts {
  padding-left: 30px;
}

body.navigation-collapsed > #mara-main, body.touch.navigation-collapsed > #alerts {
  margin-left: 0px;
}

body > #mara-main div.container-fluid {
  padding: 0px;
}

body > #alerts {
  position: fixed;
  left: 0px;
  transition: left .3s;
  width: 100%;
  bottom: 0px;
  padding-left: $navigation-bar-width + 30px; /* nav collapsed + 30 */
  padding-right: 30px;
  opacity: 0.95;
}

/*
* Cards
*/

#mara-main div.card {
  margin-bottom: 16px;
}

#mara-main div.card div.card-header {
  width: 100%;
  display: flex;
  background-color: white;
  border: none;
}

#mara-main div.card div.card-header > div {
  flex-grow: 1;
  align-self: center;
  margin: 0px;
}

#mara-main div.card div.card-header div.card-header-right {
  text-align: right;
  padding-left: 10px;
}

#mara-main div.card div.card-header.fixed-header-height > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#mara-main div.card div.card-block > div.card-block-content {
  overflow-x: auto;
  overflow-y: hidden;
}

#mara-main div.card div.card-block > div.card-block-content > *:first-child {
  padding-top: 0px;
  margin-top: 0px;
}

#mara-main div.card div.card-block > div.card-block-content > *:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#mara-main div.card div.card-block {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#mara-main div.card div.card-section {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/*
* tables
*/

table.mara-table {
  width: 100%;
  border-collapse: collapse;
}

table.mara-table th {
  background-color: rgba(255, 255, 255, 0.9);
}

table.mara-table th, table.mara-table tbody > tr:first-child > td {
  border-top: none;
}

table.mara-table th:first-child, table.mara-table td:first-child {
  padding-left: 0;
}

table.mara-table th, table.mara-table td {
  padding-left: 15px;
}

table.mara-table th:last-child, table.mara-table td:last-child {
  padding-right: 0px;
}

table.mara-table td pre, table.mara-table code {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*
* Buttons
*/

a.mara-button {
  padding: 0px;
}

a.mara-button:focus, a.mara-button:active {
  box-shadow: none !important;
}

/*
* Misc
*/

#mara-main code {
  background-color: transparent;
  padding: 0px;
  border-radius: 0px;
  color: black;
}