/**
 Input for mara.css

 Build with `sass --watch mara.scss:mara.css`
*/

@import './src/variables.scss';
@import './src/mixins.scss';

@import './src/action-menu.scss';
@import './src/action-menu-button.scss';
@import './src/button.scss';
@import './src/checkbox.scss';
@import './src/layout.scss';
@import './src/mara-filters.scss';
@import './src/mara-main.scss';
@import './src/mara-navigation.scss';
@import './src/page-header.scss';

$navigation-bar-width: 272px;
$navigation-bar-padding: 24px;
$filter-panel-width: 304px;
$content-area-padding: 32px;
$page-header-height: 60px;
$card-padding: 24px;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

html {
    font-size: 14px;
}

body {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $color_lightGrey;
}

a:hover {
    cursor: pointer;
}

/* Page header */
#mara-page-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: $page-header-height;
    max-height: $page-header-height;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
    padding: 0px;
    padding-left: $content-area-padding;
    padding-right: $content-area-padding;

    > * {
        align-self: center;
        margin: 0px;
    }

    > .navigation-toggle-button {
        padding-right: 20px;
        font-size: 26px;
        text-decoration: none;
    }

    > img.logo {
        height: 30px;
        margin-right: 10px;
    }

    > h1 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 20px;
        font-weight: normal;
    }

    > div.action-buttons {
        white-space: nowrap;
        flex-grow: 1;
        text-align: right;
        margin-left: 20px;

        > a.btn {
            padding: 0px;
            margin-left: 20px;
        }
    }

    @media (max-width: 600px) {
        > img {
            display: none;
        }
    }
}

/*
make sure that anchor links are not hidden behind the header
https://css-tricks.com/hash-tag-links-padding/
*/
.anchor {
    margin-top: -90px;
    padding-top: 90px;
    z-index: -1;
    display: inline-block;
}

#mara-main {
    > h2 {
        margin-top: 60px;
        margin-bottom: 12px;
    }
}

body > #mara-main div.container-fluid {
    padding: 0px;
}

div.mara-card {
    margin-top: 16px;
    margin-bottom: 16px;
    border: none;

    div.card-header {
        color: $color_ebonyGrey;
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        display: flex;
        background-color: white;
        border: none;
        padding: #{$card-padding - 5px} $card-padding 0;

        > div {
            flex-grow: 1;
            align-self: center;
            margin: 0px;
        }

        div.card-header-right {
            text-align: right;
            padding-left: 18px;
        }
    }

    div.card-header.fixed-header-height > div.card-header-left {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    div.card-header.fixed-header-height > div.card-header-right {
        white-space: nowrap;
    }

    div.card-block {
        padding: #{$card-padding - 2px} $card-padding;

        > div.card-block-content {
            overflow-x: auto;
            overflow-y: hidden;

            > *:first-child {
                padding-top: 0px;
                margin-top: 0px;
            }

            > *:last-child {
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
        }
    }

    div.card-section {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}

body > #alerts {
    position: fixed;
    transition: left 0.3s;
    width: 100%;
    bottom: 0px;
    left: $navigation-bar-width;
    padding: $content-area-padding * 1.5;
    padding-bottom: 0px;
    opacity: 0.95;
}

/*
* Tables
*/

table.mara-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        background-color: $color_white;

        &:hover {
            background-color: none;

            td {
                background-color: $color_lightGrey;
            }
        }
    }

    th {
        border-top: 1px solid #dfe3e9;
        border-bottom: 1px solid #dfe3e9;
        text-transform: capitalize;
        vertical-align: middle;
    }

    td {
        border-top: 1px solid #eee;
    }

    th,
    td {
        padding: 8px 16px;
        white-space: nowrap;
    }

    td pre,
    code {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/*
* Buttons
*/

a.mara-button {
    padding: 0px;

    &:focus,
    &:active {
        box-shadow: none !important;
    }
}

/*
* Misc
*/

#mara-main code {
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;
    color: black;
}

svg g {
    font-weight: 300;
}
