/**
 Input for mara.css

 Build with `sass --watch mara.scss:mara.css`
 */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
html {
  font-size: 14px; }

body {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F4F6F8; }

a:hover {
  cursor: pointer; }

/* page header */
#mara-page-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  height: 60px;
  max-height: 60px;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  padding: 0px;
  padding-left: 56px;
  padding-right: 56px; }
  #mara-page-header > * {
    align-self: center;
    margin: 0px; }
  #mara-page-header > .navigation-toggle-button {
    padding-right: 20px;
    font-size: 26px;
    text-decoration: none; }
  #mara-page-header > img.logo {
    height: 30px;
    margin-right: 10px; }
  #mara-page-header > h1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: normal; }
  #mara-page-header > div.action-buttons {
    white-space: nowrap;
    flex-grow: 1;
    text-align: right;
    margin-left: 20px; }
    #mara-page-header > div.action-buttons > a.btn {
      padding: 0px;
      margin-left: 20px; }
  @media (max-width: 600px) {
    #mara-page-header > img {
      display: none; } }

/*
make sure that anchor links are not hidden behind the header
https://css-tricks.com/hash-tag-links-padding/
*/
.anchor {
  margin-top: -90px;
  padding-top: 90px;
  z-index: -1;
  display: inline-block; }

/* navigation */
#mara-navigation {
  padding-top: 20px;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 272px;
  transition: width .3s;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  color: #222B36;
  background-color: white; }
  #mara-navigation .mara-nav-entry {
    width: 224px; }
  #mara-navigation .mara-nav-entry > a:hover {
    border-radius: 3px;
    color: #0291FF;
    background-color: rgba(2, 145, 255, 0.05); }
  #mara-navigation .mara-nav-entry > a {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    align-items: baseline;
    display: flex;
    width: 100%;
    color: #222B36;
    text-decoration: none;
    margin-left: 24px;
    cursor: pointer; }
    #mara-navigation .mara-nav-entry > a .mara-nav-entry-text {
      flex-grow: 1; }
    #mara-navigation .mara-nav-entry > a .mara-caret {
      padding-left: 8px; }
  #mara-navigation .level-1:not(:first-child) > a {
    border-top: 1px solid #DFE3E9; }
  #mara-navigation .mara-nav-entry.level-1 > a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px; }
    #mara-navigation .mara-nav-entry.level-1 > a div.mara-nav-entry-icon {
      margin-right: 10px;
      text-align: center; }
  #mara-navigation .mara-nav-entry.level-2 > a {
    padding-left: 39px; }
  #mara-navigation .mara-nav-entry.level-3 > a {
    padding-left: 54px; }
  #mara-navigation .mara-nav-entry.level-4 > a {
    padding-left: 69px; }
  #mara-navigation .mara-nav-entry.level-5 > a {
    padding-left: 74px; }
  #mara-navigation .highlighted > a {
    color: #0291FF !important; }

body.navigation-collapsed > #mara-navigation {
  width: 0px; }

/* filters */
#mara-filter-panel {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 60px;
  bottom: 0;
  width: 304px;
  transition: width .3s;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  color: #222B36;
  background-color: white; }
  #mara-filter-panel > div {
    padding: 24px; }

body.filters-collapsed > #mara-filter-panel {
  width: 0px; }

/*
* main area
*/
#mara-main {
  position: absolute;
  left: 272px;
  transition: left .3s, right .3s;
  right: 304px;
  width: auto;
  top: 60px;
  padding: 32px; }
  #mara-main > h2 {
    margin-top: 60px;
    margin-bottom: 12px; }

body.navigation-collapsed > #mara-main, body.navigation-collapsed > #alerts {
  left: 0px; }

body.filters-collapsed > #mara-main, body.filters-collapsed > #alerts {
  right: 0px; }

body > #mara-main div.container-fluid {
  padding: 0px; }

div.mara-card {
  margin-bottom: 32px;
  border: none; }
  div.mara-card div.card-header {
    color: #222B36;
    font-size: 18px;
    width: 100%;
    display: flex;
    background-color: white;
    border: none;
    padding: 24px;
    padding-top: 19px; }
    div.mara-card div.card-header > div {
      flex-grow: 1;
      align-self: center;
      margin: 0px; }
    div.mara-card div.card-header div.card-header-right {
      text-align: right;
      padding-left: 18px; }
  div.mara-card div.card-header.fixed-header-height > div.card-header-left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  div.mara-card div.card-header.fixed-header-height > div.card-header-right {
    white-space: nowrap; }
  div.mara-card div.card-block {
    padding: 24px;
    padding-top: 22px; }
    div.mara-card div.card-block > div.card-block-content {
      overflow-x: auto;
      overflow-y: hidden; }
      div.mara-card div.card-block > div.card-block-content > *:first-child {
        padding-top: 0px;
        margin-top: 0px; }
      div.mara-card div.card-block > div.card-block-content > *:last-child {
        padding-bottom: 0px;
        margin-bottom: 0px; }
  div.mara-card div.card-section {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }

body > #alerts {
  position: fixed;
  transition: left .3s;
  width: 100%;
  bottom: 0px;
  left: 272px;
  padding: 48px;
  padding-bottom: 0px;
  opacity: 0.95; }

/*
* Cards
*/
/*
* tables
*/
table.mara-table {
  width: 100%;
  border-collapse: collapse; }

table.mara-table th {
  background-color: rgba(255, 255, 255, 0.9); }

table.mara-table th, table.mara-table tbody > tr:first-child > td {
  border-top: none; }

table.mara-table th:first-child, table.mara-table td:first-child {
  padding-left: 0; }

table.mara-table th, table.mara-table td {
  padding-left: 15px; }

table.mara-table th:last-child, table.mara-table td:last-child {
  padding-right: 0px; }

table.mara-table td pre, table.mara-table code {
  margin-top: 5px;
  margin-bottom: 5px; }

/*
* Buttons
*/
a.mara-button {
  padding: 0px; }

a.mara-button:focus, a.mara-button:active {
  box-shadow: none !important; }

/*
* Misc
*/
#mara-main code {
  background-color: transparent;
  padding: 0px;
  border-radius: 0px;
  color: black; }

svg g {
  font-weight: 300; }

/*# sourceMappingURL=mara.css.map */
