html {
    font-size: 14px;
}

body {
    position: relative;
}


a:hover {
    cursor: pointer;
}

/* page header */
#mara-page-header {
    display: block;
    height: 60px;
    max-height: 60px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

/*
make sure that anchor links are not hidden behind the header
https://css-tricks.com/hash-tag-links-padding/
*/
.anchor {
    margin-top: -90px;
    padding-top: 90px;
    z-index: -1;
    display: inline-block;
}

#mara-page-header > * {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    margin: 0px;
}

#mara-page-header > img {
    height: 40px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

#mara-page-header > h1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 24px;
    font-weight: normal;
}

#mara-page-header > .action-buttons {
    float: right;
    margin-left: 20px;
}

#mara-page-header > .action-buttons > a.btn {
    padding: 0px;
    margin-left: 20px;
}

#mara-page-header > .navigation-toggle-button {
    display: none;
    float: left;
    padding-right: 10px;
    text-decoration: none;
}

body.touch > #mara-page-header > .navigation-toggle-button {
    display: block;
}

/* navigation */
#mara-navigation {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 224px;
    background-color: #333;
    color: #888;
    transition: width .3s;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}

body.touch > #mara-navigation {
    transition: width 0s;
}

body.navigation-collapsed > #mara-navigation {
    width: 54px;
    transition: width .3s;
}

body.touch.navigation-collapsed > #mara-navigation {
    width: 0px;
    transition: width 0s;
}

/*
 nav entry
*/
#mara-navigation div.mara-nav-entry {
    width: 224px;
}

#mara-navigation div.highlighted > a {
    color: #fff !important;
    font-weight: bold;
}

#mara-navigation div.mara-nav-entry:not(.level-1) {
    background-color: #444;
}

#mara-navigation div.mara-nav-entry:hover {
    background-color: #171717;
}

#mara-navigation div.mara-nav-entry.level-1:not(:first-child) {
    border-top: 1px solid #2d2d2d;
}

#mara-navigation div.mara-nav-entry.level-1 > a {
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
}

#mara-navigation div.mara-nav-entry.level-2 > a {
    padding-left: 30px;
}

#mara-navigation div.mara-nav-entry.level-3 > a {
    padding-left: 45px;
}

#mara-navigation div.mara-nav-entry.level-4 > a {
    padding-left: 60px;
}

#mara-navigation div.mara-nav-entry.level-5 > a {
    padding-left: 75px;
}

#mara-navigation div.mara-nav-entry > a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 16px;
    display: table;
    width: 100%;
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

#mara-navigation div.mara-nav-entry > a > div {
    display: table-cell;
}

#mara-navigation div.mara-nav-entry.level-1 > a > div.mara-nav-entry-icon {
    padding-right: 16px;
}

#mara-navigation div.mara-nav-entry:not(level-1) > a > div.mara-nav-entry-icon {
    padding-right: 8px;
}

#mara-navigation .mara-nav-entry > a > div.mara-nav-entry-text {
    width: 100%;
}

#mara-navigation .mara-nav-entry > a > div.mara-caret {
    padding-left: 8px;
    opacity: 1;
    transition: opacity 0.3s;
    transition-delay: 0.2s;
}

body.navigation-collapsed > #mara-navigation div.mara-nav-entry .mara-caret {
    opacity: 0;
    transition: opacity 0s;
}

/*
* main area
*/

body > #mara-main {
    position: absolute;
    background-color: #e0e0e0;
    left: 170px; /* nav expanded 224 - nav collapsed 54 */
    transition: left .3s;
    top: 60px;
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    padding-left: 69px; /* nav collapsed + 15 */
}

body.navigation-collapsed > #mara-main, body.navigation-collapsed > #alerts {
    left: 0px;
    transition: left .3s;
}

body.touch > #mara-main, body.touch > #alerts {
    left: 224px;
    transition: left 0s;
    padding-left: 15px;
}

body.touch.navigation-collapsed > #mara-main, body.touch.navigation-collapsed > #alerts {
    left: 0px;
    transition: left 0s;
}

body > #mara-main div.container-fluid {
    padding: 0px;
}

body > #alerts {
    position: fixed;
    left: 170px; /* nav expanded 224 - nav collapsed 54 */
    transition: left .3s;
    width: 100%;
    bottom: 0px;
    padding-left: 69px; /* nav collapsed + 15 */
    padding-right: 15px;
    opacity: 0.95;

}

/*
* Cards
*/

body > #mara-main div.card {
    margin-bottom: 16px;
}

body > #mara-main div.card div.card-title {
    width: 100%;
    display: table;
    table-layout: fixed;
}

body > #mara-main div.card div.card-title > div {
    display: table-cell;
}

body > #mara-main div.card div.card-title div.card-title-right {
    text-align: right;
    padding-left: 5px;
}


body > #mara-main div.card div.card-title.fixed-title-height > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body > #mara-main div.card > div.card-block > *:not(.card-title) {
    overflow-x: auto;
}

/*
* documentation tables
*/

body > #mara-main table.mara-documentation-table {
    width: 100%;
}

body > #mara-main table.mara-documentation-table > thead > tr > th {
    border-top: none;
}

/*
* Misc
*/

body > #mara-main code {
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;
    color: black;
}